[InfiniiVision_1]
IP = 192.168.1.100
FREQ = 1
STATUS = ON
FABR = Agilent

[80PK-22_1]
IP = 192.168.1.101
FREQ = 1
STATUS = OFF
FABR = Fluke

[80PK-22_2]
IP = 192.168.1.102
FREQ = 1
STATUS = OFF
FABR = Fluke

[TPS54340_1]
IP = 192.168.1.103
FREQ = 1
STATUS = ON
FABR = TI

[HC2-S3_1]
IP = 192.168.1.104
FREQ = 1
STATUS = OFF
FABR = Rotronic

[HC2-S3_2]
IP = 192.168.1.105
FREQ = 1
STATUS = OFF
FABR = Rotronic
