html {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
}

body {
	height: 95%;
}
.header {
	text-align: center;
}

.footer {
	font-size: 9pt;
}

.footer ul {
	width: 100%;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	white-space: no-wrap;
	padding: 0
}

@media screen {
	.footer {
		display: none;
	}
}

@media print {
	.footer {
		position: fixed;
		bottom: 0;
		width: 95%;
		display: none;
	}
}

.correction {
	page-break-before: always;
	color: red;
}

.logo_ipsa {
	z-index: -1;
	position: absolute;
	right: 0;
	top: 25pt;
	height: 8%;
}
